# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 120

[*.{kt, kts, sh}]
indent_style = space
indent_size = 4
continuation_indent_size = 4

[*.{kt,kts}]
disabled_rules = annotation,no-empty-first-line-in-method-block,filename
