<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/NorrisTheme"
        android:allowBackup="true"
        android:appComponentFactory="io.dotanuki.features.facts.util.FactsTestsComponentFactory"
        tools:replace="android:appComponentFactory"
        />
</manifest>
