<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dotanuki.norris.search">

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:theme="@style/NorrisTheme"
            android:name=".SearchTestActivity"
            />
    </application>

</manifest>
