<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.dotanuki.demos.norris">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".NorrisApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="@bool/clear_networking_traffic_enabled"
        android:theme="@style/NorrisTheme"
        tools:ignore="GoogleAppIndexingWarning" />

</manifest>