name: Main

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  static_analysis:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
      - name: Project Checkout
        uses: actions/checkout@v2.3.5

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build
        with:
          norris-key: ${{ secrets.NORRIS_CRYPTO_KEY }}

      - name: Check code formatting
        run: ./gradlew ktlintCheck detekt --stacktrace

      - name: Archive execution metrics
        if: success()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: static-analysis-metrics
          path: build/reports/talaiot/json

  unit_tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
      - name: Project Checkout
        uses: actions/checkout@v2.3.5

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build
        with:
          norris-key: ${{ secrets.NORRIS_CRYPTO_KEY }}

      - name: Run unit tests
        run: ./gradlew test --stacktrace

      - name: Collect all test results from all modules
        if: always()
        run: ./scripts/aggregate-test-reports.sh build/test-reports

      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: junit-results-unit-tests
          path: build/test-reports

      - name: Archive execution metrics
        if: success()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: unit-tests-metrics
          path: build/reports/talaiot/json

  assemble_apk:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
      - name: Project Checkout
        uses: actions/checkout@v2.3.5

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build
        with:
          norris-key: ${{ secrets.NORRIS_CRYPTO_KEY }}

      - name: Assemble production APK
        run: ./gradlew app:assembleRelease -PtestMode=true --stacktrace

      - name: Archive APK
        if: success()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: release-apk
          path: app/build/outputs/apk/release

      - name: Archive R8 mappings
        if: success()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: release-mappings
          path: app/build/outputs/mapping/release

      - name: Archive execution metrics
        if: success()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: assemble-apk-metrics
          path: build/reports/talaiot/json

  espresso_prepare:
    runs-on: ubuntu-20.04
    timeout-minutes: 10

    steps:
      - name: Project Checkout
        uses: actions/checkout@v2.3.5

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build
        with:
          norris-key: ${{ secrets.NORRIS_CRYPTO_KEY }}

      - name: Assemble Instrumentation tests
        run: ./gradlew app:assembleAndroidTest -PtestMode=true --stacktrace

      - name: Archive Test APK
        uses: actions/upload-artifact@v2.2.4
        with:
          name: tests-apk
          path: app/build/outputs/apk/androidTest/release

      - name: Archive execution metrics
        if: success()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: espresso-prepare-metrics
          path: build/reports/talaiot/json

  acceptance_tests:
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    needs: [assemble_apk, espresso_prepare, unit_tests, static_analysis]
    strategy:
      fail-fast: true
      matrix:
        device: [ 'NexusLowRes', 'Pixel2' ]

    steps:
      - name: Fetch Instrumentation artefacts
        uses: actions/download-artifact@v2.0.10

      - name: Run Espresso tests with emulator.wtf
        uses: emulator-wtf/run-tests@v0.0.2
        with:
          api-token: ${{ secrets.EMULATOR_WTF_TOKEN }}
          app: release-apk/app-release.apk
          test: tests-apk/app-release-androidTest.apk
          outputs-dir: emulator-wtf-results
          devices: model=${{ matrix.device }},version=30,atd=true
          use-orchestrator: true
          clear-package-data: true

      - name: Archive execution results
        if: success()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: emulator-wtf-results
          path: emulator-wtf-results

  screenshot_tests:
    strategy:
      fail-fast: true
      matrix:
        device: ['nexus4', 'pixel']

    runs-on: macOS-10.15
    needs: acceptance_tests
    timeout-minutes: 20

    steps:
      - name: Project Checkout
        uses: actions/checkout@v2.3.5

      - name: Setup Android Build
        uses: ./.github/actions/setup-android-build
        with:
          norris-key: ${{ secrets.NORRIS_CRYPTO_KEY }}

      - name: Synchronize screenshots
        run: ./scripts/screenshots-sync.sh ${{ matrix.device }}

      - name: Assign emulator profile
        id: emulator-profile
        uses: ./.github/actions/assign-emulator-profile
        with:
          device: ${{ matrix.device }}

      - name: Run Screenshot tests
        uses: reactivecircus/android-emulator-runner@v2.20.0
        with:
          api-level: 28
          target: 'google_apis'
          profile: ${{ steps.emulator-profile.outputs.assigned }}
          script: ./gradlew clean executeScreenTests --no-daemon --stacktrace

  security-analysis:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    needs: assemble_apk
    steps:
      - name: Fetch APK
        uses: actions/download-artifact@v2.0.10

      - name: Run security analysis with AppSweep
        uses: guardsquare/appsweep-action@main
        env:
          APPSWEEP_API_KEY: ${{ secrets.APP_SWEEP_TOKEN }}
          COMMIT_HASH: ${{ steps.vars.outputs.sha_short }}
          INPUT_FILE: release-apk/app-release.apk
          MAPPING_FILE: release-mappings/mapping.txt
